<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	   					   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
	   					   http://www.springframework.org/schema/tx  
	   					   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
	   					   http://www.springframework.org/schema/jee  
	   					   http://www.springframework.org/schema/jee/spring-jee-2.5.xsd  
	   					   http://www.springframework.org/schema/context  
	   					   http://www.springframework.org/schema/context/spring-context-2.5.xsd  
	   					   http://www.springframework.org/schema/aop  
	   					   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	   					   http://code.alibabatech.com/schema/dubbo  
        				  http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="true">
	<!-- 使用annotation 自动注册bean -->
	<context:component-scan base-package="com.xqar.nutz01" />

	<!-- 定义受环境影响易变的变量 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>
	<!-- 数据源配置 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		 destroy-method="close">
		<!-- 数据源驱动类可不写，Druid默认会自动根据URL识别DriverClass -->
		<!-- property name="driverClassName" value="com.mysql.jdbc.Driver" /-->
		<!-- 基本属性 url、user、password -->
		<property name="url" value="${jdbc_url}"/>
		<property name="username" value="${jdbc_user}" />
		<property name="password" value="${jdbc_password}" />
	</bean>

	<!-- 事务配置 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

<!-- spring事务的xml配置 ，建议使用-->
    <aop:config>
        <aop:pointcut id="bussinessService"
            expression="execution(* com.xqar.nutz01..*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="bussinessService" />
    </aop:config>

    <!-- 对不同的方法进行不同的事务管理 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
             <tx:method name="save*" propagation="REQUIRED" read-only="false" />
             <tx:method name="update*" propagation="REQUIRED" read-only="false" />
             <tx:method name="delete*" propagation="REQUIRED" read-only="false" />
            <tx:method name="*" read-only="true"  />
        </tx:attributes>
    </tx:advice>
    
	
	
	<bean id="dao" class="org.nutz.dao.impl.NutDao">
		<property name="dataSource" ref="dataSource" />
		<property name="runner" ref="springDaoRunner" />
	</bean>
	<bean id="springDaoRunner" class="com.xqar.nutz01.SpringDaoRunner" />

<!--  dubbo 配置 -->
    <dubbo:application name="dubbos01" />       
    <dubbo:registry  protocol="zookeeper" address="127.0.0.1:2181" />  
    <dubbo:monitor protocol="registry" />
    <dubbo:protocol name="dubbo" port="20880" />
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
 <dubbo:annotation package="com.xqar.dubbo01.service" />
 
</beans> 
